rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check if a user is signed in
    function isSignedIn() {
      return request.auth != null;
    }

    // Helper function to check if the user is the owner of the organization
    function isOwner(organizationId) {
      return isSignedIn() && request.auth.uid == organizationId;
    }

    // Organizations can be created by any authenticated user, as long as the
    // document ID matches their own user ID. They can only read or update
    // their own organization document. Listing all organizations is disallowed.
    match /organizations/{organizationId} {
      allow get, update: if isOwner(organizationId);
      allow create: if isOwner(organizationId);
      allow list: if false; 
    }

    // Receipts can be created, read, updated, or deleted only by the
    // owner of the parent organization.
    match /organizations/{organizationId}/receipts/{receiptId} {
      allow read, write: if isOwner(organizationId);
    }
    
    // Contacts can be created, read, updated, or deleted only by the
    // owner of the parent organization.
    match /organizations/{organizationId}/contacts/{contactId} {
        allow read, write: if isOwner(organizationId);
    }

    // Templates can be created, read, updated, or deleted only by the
    // owner of the parent organization.
    match /organizations/{organizationId}/templates/{templateId} {
      allow read, write: if isOwner(organizationId);
    }
  }
}
